<!-- <div class="container" class="login-panel">
  <uitk-panel panelId="logPanel" panelTitle="Log In">
    <form #loginForm="ngForm" class="login-form" autocomplete="off" method="POST" (submit)="login($event)">
      <div class="form-layout">
        <label for="userName" class="tk-labl">User Name</label>
        <uitk-input tkType="text" tkRequiredErrorMessage="Username is required." hintTextOn="false" tkId="userName" name="userName" [(ngModel)]="userName" 
          required="required">
        </uitk-input>
      </div>
      <div class="form-layout">
          <label for="password" class="tk-labl">Password</label>
          <uitk-input tkType="password" tkRequiredErrorMessage="Password is required." hintTextOn="false" tkId="password" name="password" [(ngModel)]="password"
            required="required">
          </uitk-input>
      </div>
      <uitk-button value="Log In" [enableDefault]=false customClass="tk-btn-standard" [disabled]="!loginForm.valid"></uitk-button>
    </form>
  </uitk-panel>
</div> -->

<div>logging in via oauth2</div>
