<section>
  <div class="uitk-grid">
    <div class="row gutter">
      <div class="small-col-8-8 medium-col-8-8 large-col-8-8">
        <h2>
          Lazy Loaded Module
        </h2>
        <p>All the files, html, javascript, css that are related to this module/component were lazy loaded.</p>
        <p>Meaning when this route was activated on from the appRouter, the loadChildren property pointed to this module and loaded the files <strong>ON DEMAND</strong></p>
      </div>
    </div>
  </div>
</section>

