
      <section class="uitk-grid">
        <div class="row gutter">
          <div class="small-col-8-8 med-col-6-8 large-col-4-8">
            <div class="row gutter">
              <div joyrideStep="step1" title="Header" text="Show users your header" class="col text-center">
                <h1>Register</h1>
                <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="small-col-8-8 large col-2-8">
                <input joyrideStep="step2" title="Company Name" text="Enter your company name!" type="text" class="form-control" placeholder="Company Name">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="small-col-8-8 large col-2-8">
                <input joyrideStep="step3" title="Email" text="What is your email address" type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div joyrideStep="step4" title="Password" text="Make sure your passwords match" class="row align-items-center mt-4">
              <div class="small-col-2-8">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="small-col-8-8 large col-2-8">
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
            <div class="row gutter">
              <div class="small-col-8-8 large col-2-8">
                <div joyrideStep="step5" title="Accept" text="Can't forget terms and conditions!!!" class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                  </label>
                </div>
                <button joyrideStep="step6" title="Complete" text="Fire Away" class="btn btn-primary mt-4">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </section>

  