<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to console  -->
    <target name="console" xsi:type="Console"  layout="${date:yyyy-MM-ddTHH\:mm\:ss.fffffffzzz} ${level:uppercase=true} ${message}"/>
    <!-- write logs to file  -->
    <target xsi:type="File" 
        name="jsonFile" 
        fileName="log/application.log" 
        archiveFileName="log/application.{#####}.log"
        archiveAboveSize="10240"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        maxArchiveFiles="4">
      <layout type="JsonLayout">
        <attribute name="timestamp" layout="${date:yyyy-MM-ddTHH\:mm\:ss.fffffffzzz}" />
        <attribute name="level" layout="${level}" />
        <attribute name="context" layout="${machinename}-${appdomain}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data}" />
      </layout>
    </target>

    <target xsi:type="File" name="auditFile" fileName="log/audit.log">
      <layout type="JsonLayout">
        <attribute name="timestamp" layout="${date:yyyy-MM-ddTHH\:mm\:ss.fffffffzzz}" />
        <attribute name="level" layout="${level}" />
        <attribute name="context" layout="${threadname}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
    <logger name="*" minlevel="Warn" writeTo="jsonFile,console" />
    <logger name="*" minlevel="Error" writeTo="jsonFile,console" />
    <logger name="*" minlevel="Fatal" writeTo="jsonFile,console" />
  </rules>
</nlog>